<!-- sign-in card -->
<div fxLayout="row" fxLayoutAlign="center center" fxFill>
  <div fxFlex="20" [fxFlex.lt-lg]="50" [fxFlex.lt-md]="75" [fxFlex.lt-sm]="90">
    <mat-card>
      <mat-card-title fxLayoutAlign="center"> Sign Up </mat-card-title>
      <mat-card-content>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
          <!-- First Name -->
          <div>
            <mat-form-field fxFlex>
              <mat-label> First Name </mat-label>
              <input matInput placeholder="First Name" type="text" formControlName="firstName">
            </mat-form-field>
          </div>
          <!-- Last Name -->
          <div>
            <mat-form-field fxFlex>
              <mat-label> Last Name </mat-label>
              <input matInput placeholder="Last Name" type="text" formControlName="lastName">
            </mat-form-field>
          </div>
          <!-- Email -->
          <div>
            <mat-form-field fxFlex>
              <mat-label> Email </mat-label>
              <input matInput placeholder="Email" type="text" formControlName="email">
            </mat-form-field>
          </div>
          <!-- Username -->
          <div>
            <mat-form-field fxFlex>
              <mat-label> Username </mat-label>
              <input matInput placeholder="Username" type="text" formControlName="username">
            </mat-form-field>
          </div>
          <!-- Password -->
          <div>
            <mat-form-field fxFlex>
              <mat-label> Password </mat-label>
              <input matInput placeholder="Password" type="password" formControlName="password">
            </mat-form-field>
          </div>
          <!-- Confirm Password -->
          <div>
            <mat-form-field fxFlex>
              <mat-label> Confirm Password </mat-label>
              <input matInput placeholder="Password" type="password" formControlName="confirmPassword">
            </mat-form-field>
          </div>
          <div>
            <button mat-flat-button color="primary" type="submit" fxFlex id="signupBtn"> Sign Up </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
    <div class="mt-20" fxLayoutAlign="center">
      <p> Already have an account? <button mat-button color="primary" type="submit" routerLink="/login"> Sign In </button> </p>
    </div>
  </div>
</div>